<p>userwithid works!</p>
<table class="table table-bordered">
    <tr class="bg-primary">
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td>Website</td>
    </tr>
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.website}}</td>
    </tr>
  </table> 
  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a class="nav-link" routerLink="address">Address <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="company">Company</a>
    </li>
  </ul>
  <router-outlet></router-outlet>


